// .nav-items {
//     display: flex;
//     justify-content: space-between;
//     .search-items {
//         display: flex;
//         justify-content: space-around;
//         input, button {
//             margin-right: 10px;
//             margin-left: 10px;
//         }
//     }
// }
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-toggle {
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  text-align: center;
  height: 40%;
}

.active {
  background: rgba(0,0,0,.04);
}
