<app-navbar></app-navbar>


<h1>Her tester vi book Endpoint</h1>
<br>
<h2>Tilføj en bog</h2>
<form [formGroup]="createBookForm" (ngSubmit)="submitBook(title.value, pages.value)">
    <label>Create New Book</label>
    <input type="text" id="title" #title name="title" formControlName="title">
    <input type="number" id="pages" #pages name="pages" formControlName="pages">
    <button  type="submit">Submit</button>
</form>
<br>
<h2>Her er alle vores nice bøger</h2>
<div *ngFor="let b of books" >
    
    <h3>{{ b.title }}</h3>
</div>