

.card-img-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.card:hover img {
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
    opacity: 0.2;
}

.card img {
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
}

.member-icons {
    position: absolute;
    bottom: -5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms ease-in-out;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}